.StartButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  background-color: #0b1e44;
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  width: 800px;
  margin-top: 80px;
}

.button-container h2 {
  color: #d89b22;
  margin-bottom: 20px;
  font-size: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.primary-button {
  background-color: #d89b22;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.secondary-button {
  background-color: transparent;
  border: 2px solid #d89b22;
  color: #d89b22;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.primary-button:hover,
.secondary-button:hover {
  opacity: 0.8;
}
