.contact-- {
  display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.contact-form {
    display: flex;
    padding: 20px;
    font-family: Poppins , sans-serif;
    width: 1380px;
    max-height: 80vh;
    border-radius: 50px;
    background-color: #f9f9f9;
    box-shadow: 1px 2px #66666da6 ;
  }
  
  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--colour-main-blue-800);
    color: white;
    padding: 60px;
    margin: 0px;
    border-radius: 30px;
    width: 40%;
    position: relative;
    z-index: 0;
  }
  
  .contact-info h2, .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info p i {
    margin-right: 10px;
  }
  
  
  .yellow-circle {
    position: absolute;
    width: 400px; 
    height: 500px; 
    border-radius: 50%;
    background-color: #D69500;
    top: 440px;
    right: -190px;
    shape-outside: circle(50%);
    clip-path: circle(6rem at 12rem 8rem);
    z-index: 0;
  }
  
  .yell-circle {
    position: absolute;
    width: 130px; 
    height: 130px; 
    border-radius: 70%;
    background-color:#FFD166;
    top: 480px;
    right: 30px;
    z-index: 0; 
  }
  
  
.contact--info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
  
  .social-icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    
  }
  

  .social-icons i:nth-child(2n+1) {
    color: #e0a700;

  }

  .contact-form-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #f9f9f9;
    padding: 70px;
    border-radius: 0 10px 10px 0;
    width: 60%;
    z-index: 1;
  }
  
  .contact-form-form h2, .contact-form-form p {
    margin: 10px 0;
  }

  .contact-form-form h2 {
    font-size: 2rem;
  }
  
  .form-group {
    display: flex;
    gap: 10px;
    margin: 10px 0;
  }
  
  .form-group input {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form-group textarea {
    min-width: 100%;
    min-height: 200px;
    max-height: 200px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .radio-buttons {
    display: flex;
    width: 50px;
    height: auto;
    gap: 10px;
  }
  
  .contactform-group {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .radio-buttons input {
    margin-right: 5px;
  }
  
  .buttonform {
    width: 50%;
    background-color: var(--color-goldenrod-100);
    border: none;
    padding: 10px 20px;
    color: var(--colour-main-blue-800);
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .buttonform:hover {
    background-color: #e0a700;
  }
  